<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Accounting" connectionString="data source=PRABA-PC\SQLEXPRESS;initial catalog=Accounting;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PCFACCT" providerName="System.Data.SqlClient" connectionString="Data Source=PRABA-PC\SQLEXPRESS;Initial Catalog=PCFACCT;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="FACCT" providerName="System.Data.SqlClient" connectionString="Data Source=PRABA-PC\SQLEXPRESS;Initial Catalog=FACCT;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="Foxoffice" providerName="System.Data.SqlClient" connectionString="Data Source=PRABA-PC\SQLEXPRESS;Initial Catalog=FoxOffice;Integrated Security=True;MultipleActiveResultSets=True" />
    <!--<add name="Accounting" connectionString="data source=USER1-PC\SQLEXPRESS;initial catalog=Accounting;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PCFACCT" providerName="System.Data.SqlClient" connectionString="Data Source=USER1-PC;Initial Catalog=PCFACCT;Integrated Security=False;User Id=sa;Password=IcsR@123#;MultipleActiv eResultSets=True" />
    <add name="FACCT" providerName="System.Data.SqlClient" connectionString="Data Source=USER1-PC;Initial Catalog=FACCT;Integrated Security=False;User Id=sa;Password=IcsR@123#;MultipleActiveResultSets=True" />
    <add name="Foxoffice" providerName="System.Data.SqlClient" connectionString="Data Source=USER1-PC;Initial Catalog=FoxOffice;Integrated Security=False;User Id=sa;Password=IcsR@123#;MultipleActiveResultSets=True" />-->
    <add name="AccountingEntities" connectionString="metadata=res://*/databasemodel2.AccountModel2.csdl|res://*/databasemodel2.AccountModel2.ssdl|res://*/databasemodel2.AccountModel2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=USER1-PC\SQLEXPRESS;initial catalog=Accounting;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>