
@{
    ViewBag.Title = "Close";
    Layout = "_Layout.cshtml";
}

<h4>@ViewData["HeaderMsg"]</h4>

<script>
  
    setTimeout(function () {
        //alert("dfd");
        window.close();
       
        }, 2000);
 
</script>

