
@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>

@using (Html.BeginForm("ResetPassword", "Staff", new { Email = Request.QueryString["Email"] }, FormMethod.Post, new { id = "Reset_form" }))
{


    @Html.Label("New Password")<br />
        
    <input type="password" name="userpassword" id="userpassword" class="form-control" oninput="passinp()"/>
        <br />

        @Html.Label("Confirm Password")<br />
        <input type="password"  id="confirmpass" class="form-control" oninput="passinp()"/>
        <label id="erpassword" style="color:red"></label>
        <br />
        <button class="btn btn-default" type="button" onclick="submitfun()">Reset</button>
}
<script>
    function validate() {
        var valid = true
        if ($("#userpassword").val() == '') {
            valid = false;
            $("#erpassword").html("Password Required");
        } else {
            
        }
        if ($("#userpassword").val() != $("#confirmpass").val()) {
            $("#erpassword").html("password not Matching");
            valid = false;
        } else {
            
        }
        return valid;
    }
    function passinp() {
        $("#erpassword").html("");
    }
    function submitfun() {
        if (validate() == true) {
            $("#Reset_form").submit();
        }
    }
</script>
